<ion-header>
  <ion-toolbar>
    <ion-title>
      Payment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Choose a payment method:
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <a href="https://www.paypal.com">
        <img class="logopaypal" height="100 px" width="150 px" src="../../../assets/img/logopaypal.jpg">
        </a>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <!-- <div (click)="redirectVenmo()"> -->
        <img class="logovenmo" height="80 px" width="200 px" src="../../../assets/img/logovenmo.png">
        <!-- </div>  -->
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>