<ion-header>
  <ion-toolbar>
    <ion-title>Join Group</ion-title>
    <ion-button float-left href = "/GroupMNG"> 
      <ion-icon name = "arrow-dropleft" > </ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row style="height: 40px"></ion-row>
    <div text-center>
        <ion-label class = "labelSize" color="primary">Group Code</ion-label>
    </div>
    <div text-center>
        <ion-input placeholder="Enter the group code here"></ion-input>
    </div>
    <ion-row style="height: 100px"></ion-row>
    <ion-row style="height: 150px"></ion-row>

    <div text-center>
      <ion-button size = "large" (click) = "joinGroup()" href = "/tabs/(list:list)">
        Join Group
      </ion-button>
    </div> 
</ion-content>
