<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-button (click)="login()">Login!</ion-button>
  <ion-button (click)="logout()">Logout!</ion-button>
  Logged In?
</ion-content> -->
<!-- <ion-content padding>
	<amplify-authenticator framework="ionic"></amplify-authenticator>
</ion-content> -->
<ion-content padding>

  <img class="logodisplay" height="150 px" width="150 px" src="../../../assets/img/logo.png">
  <ion-row style="height: 1px"></ion-row>
  <amplify-authenticator framework="ionic" class="auth"></amplify-authenticator>
  <ion-row style="height: 1px"></ion-row>

  <ion-content *ngIf="authState.loggedIn">
      This is supposed to be seen only when user is already logged in. 
      Remain hidden if user is not logged in!
    <ion-row style="height: 1px"></ion-row>
  </ion-content>

</ion-content>