    <ion-header no-border>
      <ion-toolbar no-border-top color="--ion-color-success-contrast">
            <ion-button menuToggle >
              <ion-icon name="menu"></ion-icon>
            </ion-button>
            
            <ion-button (click)="modify(null,null)" float-right  icon-end>
                <ion-icon name="ios-add" ></ion-icon>
            </ion-button>
            
            <ion-title *ngIf="user" class="welcome">Welcome {{user.username}}</ion-title>
      </ion-toolbar>
    </ion-header>
    
    
    <ion-content padding *ngIf="itemList">
             
         <div *ngIf="itemList.items && itemList.items.length > 0; else upChores" >
            Upcoming Chores:
         </div>  
         
         <ng-template #upChores>
            No chores, Press the + to add
         </ng-template>

    <ion-card *ngFor="let item of itemList.items; index as i">
      <ion-card-title class="hover card-title" (click)="modify(item, i)">{{item.title}}</ion-card-title>
      <ion-card-content>{{item.description}}</ion-card-content>
      <ion-card-content>{{item.date}}</ion-card-content>
      <!-- <ion-card-subtitle> -->
          <ion-buttons slot="end">
              <ion-button (click)="showConfirmAlert(i)" class="hover">
                  <ion-icon name="trash" size="small"></ion-icon>Delete</ion-button>
             <!-- 
              <ion-button (click)="complete(i)" class="hover">
                  <ion-icon name="checkmark-circle" size="small" [ngClass]="{'complete': item.status=='complete'}"></ion-icon>Mark Complete
              </ion-button>
            -->
              <ion-item>
                <ion-label>Completed</ion-label>
                <ion-checkbox [(ngModel)]="completed" (ionChange)="complete(i)"></ion-checkbox>
              </ion-item>
          </ion-buttons>
      <!-- </ion-card-subtitle> -->
    </ion-card>
</ion-content>
