<ion-header>
  <ion-toolbar>
    <ion-title>Invite Member</ion-title>
    <ion-button float-left href = "/GroupMNG"> 
        <ion-icon name = "arrow-dropleft" > </ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-row style="height: 50px"></ion-row>
    <ion-row style="height: 15px"></ion-row>
    <div text-center>
        <ion-label class = "labelSize" color="primary">SmartMate Group Code</ion-label>
    </div>
    <div text-center>
        <ion-label class = "code" color="black">{{code}}</ion-label>
    </div>
    <ion-row style="height: 50px"></ion-row>
    <div text-center>
        <ion-label class = "labelSize" color="primary">Share this group code to your friend</ion-label>
    </div>
</ion-content>
